body {
	margin: 0;
	padding: 0;
	min-width: 1200px;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;
	
	background-color: yellowgreen;
	background-image: url("../img/background-image.jpg");
	background-repeat: repeat;
}


a {
	color: #ffffff;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #ffbc9e;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header-logo {
	 width: 154px;
	  height: 64px;
	  margin-left: 27px;
	  margin-top: 17px; 
}

.button-choice {
  	font-size: 30.765px;
  	font-family: "Roboto";
  	color: rgb(255, 255, 255);
  	font-weight: bold;
  	line-height: 1.375;
  	text-align: center;
  	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	background-image: linear-gradient(90deg, #e74a35, #f26843);
	border: none;
	font-size: 18px;
	border-radius: 40px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .64);
	padding: 13px 17px;
}

.button-choice:hover,
.button-choice:focus {
  	background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(242,104,67) 100%);
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
  	font-family: "Roboto";
  	color: rgb(255, 255, 255);
  	font-weight: bold;
  	text-align: center;
  	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}


.button-choice:active {
  background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);;
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
  font-family: "Roboto";
  color: rgb(252, 238, 236);
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.main-navigation {
	display: flex;
	flex-direction: flex-start;
	justify-content: stretch;
	align-items: stretch;
	flex-wrap: wrap;
}

.site-navigation {
	padding: 0;
	list-style: none;
	width: 500px;
	min-height: 25px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.site-navigation li {
	display: inline;
	margin-left: 20px;
	margin-bottom: 30px;
  	background-image: linear-gradient(#ffffff, transparent 80%);
  	background-position: 0 1.04em;
  	background-repeat: repeat-x;
  	background-size: 10px 3px;
}

.site-navigation a
.user-navigation a {
	display: inline;
	vertical-align: middle;
}

.user-navigation {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 30px;
	padding: 0;
	list-style: none;
	width: 249px;
	height: 35px;
}


.site-navigation a,
.user-navigation a {
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #efb89c;
} 

.user-navigation .login-link {
	position: relative;
	padding-left: 50px;
	background-color: rgba(255, 255, 255, 0.2);
}

.login-link::before {
	content: "";

	position: absolute;
	top: 7px;
	left: 16px;
	width: 24px;
	height: 20px;

	background-image: url(../img/entrance.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: rgba(255, 255, 255, 0.2);

	opacity: 0.3;
}

.slider {
  	width: 700px;
  	margin: 0 auto;
  	margin-bottom: 27px;
  
  	font-size: 60px;
  	line-height: 60px;
  	font-weight: 800;
}

.slider::before {
	background-image: url("../img/light.png");
}

.special-offers {
	
}

.offer-items {
	display: -webkit-flex; 
	-webkit-justify-content: space-between;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	padding: 0;
	margin-left: 20px;

	list-style: none;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

.offer-item-1 {
  background-image: url("../img/raspberry.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 10px;
  text-align: left;
}

.offer-item-2 {
  background-image: url("../img/chocolate.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 10px;
  text-align: left;

}

.offer-items h3 {
	font-size: 35px;
	line-height: 41px;
}

.hits-list {
	display: flex;
	list-style: none;
	width: 1146px;
	margin-left: 27px;
}

.hits-item {
	display: flex;
	justify-content: space-around;
	width: 267px
	height: 332px;
	text-align: center;
	padding: 0;
	margin-right: 5px;
}

.hits-item p {

}

.hits-item-price {
	position: relative;
	top: 253px;
	left: -250px;
	font-size: 45px;
	line-height: 45px;
}

.hits-item-price span {
	font-size: 30px;
	line-height: 45px;
}

.hits-item-title {
	list-style: none;
	color: #ffffff;
	font-size: 16px;
	line-height: 22px;
	order: 2;
}

.our-advantages {
	font-size: 16px;
	line-height: 22px;
	width: 1146px;
	margin-left: 27px;

	color: #323232;
	background-image: url("../img/waffel-layer.png");
	background-repeat: no-repeat;
}

.advantages-list {
	list-style: none;
}

.our-advantages h2 {
	font-size: 24px;
	line-height: 30px;
}

.blog-subscribe-forms {
	display: flex;
	width: 1146px;
	justify-content: space-between;
	margin-left: 27px;
}

.blog-entry {
	color: #323232;
	width: 560px;
	height: 222px;
	background-image: url("../img/strawberry.png");
	background-repeat: no-repeat;
}

.blog-entry img {
	padding: 0;
}

.blog-entry h2 {
	font-size: 16px;
	line-height: 22px;
}

.blog-entry a {
	text-decoration: underline;
	font-size: 24px;
	line-height: 30px;
	color: inherit;
}

.subscribe {
	width: 560px;
	height: 223px;
	font-size: 16px;
	line-height: 22px; 
	color: #5a5a5a;
	background-image: url("../img/post.png"),
					  url("../img/layer-subscribe.png");
	background-repeat: no-repeat;
}

.modal-map::before {
	content: "";
	width: 83px;
	height: 41px;
	position: relative;
	top: 50px;
	left: 50px;

	background-image: url("../img/pin.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

.feedback {
	color: #323232;
	font-size: 14px;
	line-height: 20px;
}

.coordinates {
	color: #323232;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}


.footer-social,
.footer-details {
	list-style: none;
}

.footer-social a,
.footer-details a {
	color: inherit;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-details a:hover,
.footer-details a:focus {
	color: #ffbc9e;
}

.button-basket {
	width: 117px;
	height: 32px;
	background-image: url("../img/basket-red.svg");
	background-position: 10% 30%;
	background-color: #ffffff;
	background-repeat: no-repeat;
	content: "2 товара";
	color: #000000;
	font-weight: medium;
	border-radius: 10px;
	border: none;
}

.breadcrumbs {
	list-style: none;
}

.breadcrumbs a {
	color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: #323232;
	background-color: #ffffff;
}

h1 {
	font-size: 35px;
	line-height: 41px;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 14px;
	line-height: 16px;
}

.filer ul {
	list-style: none;
}

.fillers {
	list-style: none;
}

.articles-list {
	display: flex;
	flex-wrap: wrap;
}

.articles-list div {
	display: flex;
	padding: 0;
	flex-wrap: wrap;
}

.icecream-item {
	width: 280px;
	min-height: 285px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.icecream-item-title {
	font-size: 16px;
	line-height: 22px;
}

.icecream-item-price {
	font-size: 45px;
	line-height: 45px;
}

.icecream-item-price span {
	font-size: 30px;
	line-height: 45px;
	}

.icecream-item-title:hover {

}

.pagination-list {
	list-style: none;
}

.pagination-item a {
	color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
	color: #849d8f;
	background-color: #ffffff;
}

.modal-login {
	display: none;
}