body {
	margin: 0;
	padding: 0;
	min-width: 900px;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	color: #ffffff;
	}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  	position: absolute;

  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;

  	white-space: nowrap;

  	clip-path: inset(100%);
  	clip: rect(0, 0, 0, 0);
  	overflow: hidden;
}

.inner-page {
  	background-color: #849d8f;
}

.site-wrapper {
  	min-width: 900px;
  	margin-left: auto;
  	margin-right: auto;
  	background-color: #849d8f;
  	background-image: url("../img/advertising-1.png");
  	background-repeat: no-repeat;
  	background-position: top center;


  	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.container {
  	max-width: 1200px;
  	min-width: 900px;
  	margin: 0 auto;
  	padding-left: 0px;
  	padding-right: 0px;
}

a {	
	color: #ffffff;
	text-decoration: none;
}

a:hover,
a:focus,
.hits-item h3:hover,
.hits-item h3:focus {
	color: #ffbc9e;
}

.main-header-logo {
	 width: 154px;
}

.header-info {
	display: flex;
	width: 1146px;
	margin: 0px;
	padding-top: 28px;

}

.main-logo {
	display: flex;
}

.button-choice {
  	font-size: 18px;
  	line-height: 24px;
  	font-family: "Roboto", Arial, sans-serif;
  	color: #ffffff;
  	font-weight: 500;
  	text-align: center;
  	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	background-image: linear-gradient(90deg, #e74a35, #f26843);
	border: none;
	border-radius: 40px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .64);
	padding: 13px 23px;
}

.button-choice:hover,
.button-choice:focus {
  	background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(242,104,67) 100%);
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
  	font-size: 18px;
  	line-height: 24px;
  	color: rgb(255, 255, 255);
  	font-weight: 500;
  	text-align: center;
  	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button-choice:active {
  	background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);;
  	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
  	font-size: 18px;
  	line-height: 24px;
  	color: rgb(252, 238, 236);
  	font-weight: 500;
  	text-align: center;
  	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.main-navigation {
	position: relative;
	width: 992px;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin-left: 20px;
	margin-bottom: 0px;
}

.main-navigation ul,
.main-navigation li {
	margin: 0px;
	padding: 0px;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	width: 358px;
	padding: 0;
	list-style: none;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 400;
}


.site-navigation a
.user-navigation a {
	display: block;
	vertical-align: middle;
	color: #ffffff;
}

.site-navigation > li {
	position: relative;
}

.site-navigation .sub-menu {
	position: absolute;
	width: 106px;
	margin: 0;
	padding: 14px 18px;
	display: none;
	list-style: none;
	color: #000000;
	background-color: #ffffff;
	border-radius: 10px;
}

.sub-menu:hover a {
	background-color: #fbded7;
}

.sub-menu:active a {
	background-color: #f6b5a5;
}

.site-navigation > li:hover .sub-menu {
  	display: block;
}

.user-navigation {
	display: flex;
	width: 246px;
	justify-content: space-between;

	padding: 0;
	list-style: none;
}

.user-navigation li {
	display: flex;
	height: 23px;
	font-size: 14px;
	line-height: 16px;

	margin: 0;
	padding: 0;

	background-color: rgba(255, 255, 255, 0.2);
	font-weight: 400;
}

.user-navigation li:first-child {
	position: relative;
	width: 35px;
	height: 35px;
	background-color: rgba(255, 255, 255, 0.2);
	background-image: url("../img/loupe.svg");
	background-size: 19px 21px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50px;
}

.user-navigation .modal-search {
	position: absolute;
	top: 39px;
	right: 0px;
	color: #231f20;
	width: 280px;
	border-radius: 10px;
	padding: 21px 16px;
	display: none;
	z-index: 10;
}

.user-navigation >li:hover .modal-search {
	display: block;
}

.modal-search input[type="text"] {
	box-sizing: border-box;
  	width: 279px;
  	padding: 15px 15px;

  	font: inherit;
  	color: #999999;

  	border-style: solid;
  	border-width: 1px;
  	border-color: rgb(178, 178, 178);
  	border-radius: 5px;
  	background-color: rgb(255, 255, 255);
  	opacity: 0.52;
}

.user-navigation li:nth-child(2) {
	padding-top: 9px;
	width: 32px;

	position: relative;
	padding-left: 45px;
	padding-right: 17px;
	border-radius: 50px;
}

.user-navigation .modal-login {
	display: none;
	position: absolute;
	top: 39px;
	right: 0px;
	color: #231f20;
	width: 238px;
	border-radius: 10px;
	padding: 21px 20px;
	z-index: 10;
}


.user-navigation > li:hover .modal-login {
	display: block;
}


.login-form input[type="text"],
.login-form input[type="password"] {
	box-sizing: border-box;
  	width: 240px;
  	padding: 16px 15px;

  	font: inherit;
  	color: #999999;

  	border-style: solid;
  	border-width: 1px;
  	border-color: rgb(178, 178, 178);
  	border-radius: 5px;
  	background-color: rgb(255, 255, 255);
  	opacity: 0.52;
}

.modal-login a {
	color: #000000;
	text-decoration: underline;
}

.modal-login-choice {
	display: flex;
	width: 242px;
	justify-content: space-between;
}

.modal-login-choice button {
	margin-right: 18px;
}

.password-registration {
	display: flex;
	flex-wrap: wrap;
	width: 180px;
}

.password-registration a {
	font-size: 13px;
	line-height: 24px;
}

.user-navigation li:last-child {
	padding-top: 9px;
	position: relative;
	width: 38px;
	padding-right: 17px;
	padding-left: 45px;
	border-radius: 50px;
}

.user-navigation li:last-child::before {
	content: "";

	position: absolute;
	top: 7px;
	left: 16px;
	width: 24px;
	height: 20px;

	background-image: url(../img/basket.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.user-navigation li:last-child:hover::before {
	opacity: 1;
}

.site-navigation a,
.user-navigation a {
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #efb89c;
}

.user-navigation li:nth-child(2)::before {
	content: "";

	position: absolute;
	top: 7px;
	left: 16px;
	width: 24px;
	height: 20px;

	background-image: url(../img/entrance.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-navigation li:nth-child(2):hover::before {
	opacity: 0.1;
}

.header-contacts {
	position: absolute;
	right: 15px;
	top: 27px;	
}

.time {
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	text-align: right;
}

.phone-number {
	display: block;
	font-size: 22px;
	line-height: 24px;
	font-weight: 500;
	text-align: right;
}

.slider {
  	position: relative;
  
  	padding-top: 298px;
  
  	text-align: center;
  	color: #ffffff;
}

.slider-list {
  	margin: 0;
  	padding: 0;
  
  	list-style: none;
}

.slide {
  	display: none;
}

.slide-title {
  	width: 700px;
  	margin: 0 auto;
  	margin-bottom: 27px;

  	font-size: 60px;
  	line-height: 60px;
  	font-weight: 800;
}

.slide-button {
  	display: inline-block;
  	padding: 12px 44px;

  	font-weight: 700;
  	font-size: 31px;
  	line-height: 41px;
  	text-align: center;
  	color: #ffffff;
  	vertical-align: top;
  	text-decoration: none;
  	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  	background: #f26843;
  	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  	border-radius: 50px;
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  	border: none;

  cursor: pointer;
}

.slide-button:hover {
  	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  	color: #ffffff;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

}

.slide-button:active {
  	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  	color: #ffffff;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-controls {
  	position: absolute;
  	bottom: 20px;
  	left: 0;
  	z-index: 20;
  
  	font-size: 0;
}

.slider-controls label {
  	display: inline-block;
  	width: 17px;
  	height: 17px;
  	margin-right: 8px;

  	vertical-align: top;

  	background-color: transparent;
  	border: 2px solid #ffffff;
  	border-radius: 50%;
  	cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  	background-color: #849d8f;
  	background-image: url("../img/advertising-1.png");
}

#product-2:checked ~ .site-wrapper {
  	background-color: #8996a6;
  	background-image: url("../img/advertising-2.png");
}

#product-3:checked ~ .site-wrapper {
  	background-color: #9d8b84;
  	background-image: url("../img/advertising-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  	display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  	background-color: #ffffff;
}

.special-offers {
	width: 1200px;
	align-items: center;
	margin-bottom: -17px;
	margin-top: 40px;
}

.offer-items {
	display: -webkit-flex; 
	-webkit-justify-content: space-between;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1146px;

	padding: 0;
	margin-top: 39px;
	margin-bottom: 39px;
	margin-left: 5px;

	list-style: none;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}

.offer-item-1 {
	width: 560px;
	min-height: 193px;
  	background-image: url("../img/raspberry.jpg");


  	border-radius: 20px;

  	margin-right: 26px;
  	text-align: left;
  	padding-top: 19px;
  	padding-bottom: 18px;
  	margin-bottom: 20px;
}

.offer-item-1 .offer-item-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 21px;

}

.offer-item-1 h3,
.offer-item-2 h3 {
	margin: 0;
	padding: 0;
}

.offer-item-1 h3 {
	display: 
	padding: 0px;
	margin-bottom: 15px;
}

.offer-text {
	padding-top: 0;
	padding-bottom: 35px;
	padding-right: 20px;
	margin-bottom: 37px;
}

.offer-item-1 .button-offer {
	display: flex;
	justify-content: flex-end;
	padding-right: 18px;
	padding-top: 0px;
	margin-top: -30px;
}

.offer-item-2 {
	width: 560px;
	height: 193px;
  	background-image: url("../img/chocolate.jpg");

  	border-radius: 20px;
  	text-align: left;
  	margin-bottom: 20px;
  	padding-top: 19px;
  	padding-bottom: 20px;

}

.offer-item-2 .offer-item-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 21px;
	padding-bottom: 0px;
}

.offer-item-2 h3 {
	padding: 0px;
	margin-bottom: 17px;
}

.offer-item-2 p {
	padding-top: 0;
	padding-bottom: 20px;
}

.offer-item-2 .button-offer {
	display: flex;
	justify-content: flex-end;
	padding-right: 18px;
	margin-top: -30px;
}

.offer-items h3 {
	font-size: 35px;
	line-height: 41px;
}

.hits-list {
	width: 1146px;
	margin-left: -34px;
	display: flex;
	list-style: none;
	justify-content: space-between;
	margin-bottom: 36px;
	margin-top: 0px;
}

.hits-list ul,
.hits-list li {
	margin: 0;
	padding: 0;
}

.hits-list li {
	margin-top: 0px;
}

.hits-item {
	position: relative;
	display: flex;
	width: 267px;
	font-weight: 500;
}

.hits-item-logo {
	position: absolute;
	top: 0;
	left: 0px;
	width: 62px;
	height: 62px;
}

.hits-item-price {
	font-size: 45px;
	line-height: 1;
	margin-top: -63px;
	margin-bottom: 30px;
}

.hits-item-price span {
	font-size: 30px;
	line-height: 45px;
}

.hits-item h3 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	margin-top: -9px;
}

.hits-item-title {
	color: #ffffff;
	font-size: 16px;
	line-height: 22px;
	text-align: center;

}

.our-advantages {
	position: relative;
	font-size: 16px;
	line-height: 22px;
	width: 1146px;
	margin-bottom: 13px;
	padding-bottom: 28px;
	padding-top: 28px;
	padding-left: 21px;
	padding-right: 21px;
	font-weight: 400;

	color: #323232;
	background-image: url("../img/waffel-layer.png");
	background-repeat: no-repeat;
}

.advantages-list {
	list-style: none;
}

.our-advantages h2 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
}

.advantages-list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.advantages-list li {
	width: 483px;
	padding-left: 45px;

}

.advantages-list li:first-child::before {
	content: "";
	width: 52px;
	height: 52px;
	position: absolute;
	top: 93px;
	left: 35px;

	background-image: url("../img/ice-cream.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

.advantages-list li:nth-child(2)::before {
	content: "";
	width: 52px;
	height: 52px;
	position: absolute;
	top: 93px;
	left: 600px;

	background-image: url("../img/cow.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

.advantages-list li:nth-child(3)::before {
	content: "";
	width: 52px;
	height: 52px;
	position: absolute;
	top: 181px;
	left: 35px;

	background-image: url("../img/eco.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

.advantages-list li:last-child::before {
	content: "";
	width: 52px;
	height: 52px;
	position: absolute;
	top: 181px;
	left: 600px;

	background-image: url("../img/thermometer.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

.blog-subscribe-forms {
	display: flex;
	width: 1146px;
	height: 224px;
	justify-content: space-between;
	margin-bottom: 20px;
}

.blog-entry {
	display: flex;
	color: #323232;
	width: 560px;
	background-image: url("../img/strawberry.jpg");
	background-repeat: no-repeat;
    border-radius: 10px;
    background-position: 18% 38%;
}

.blog-entry img {
	padding: 0;
}


.blog-entry h3,
.blog-entry h2 {
	padding: 0;
	margin: 0;
}

.blog-entry-wrapper {
	display: flex;
	width: 300px;
	padding-left: 21px;
	padding-top: 25px;
}

.blog-entry h2 {
	display: flex;
	width: 282px;
	font-size: 16px;
	line-height: 22px;
	padding-left: 40px;
	padding-top: 12px;
}

.blog-entry h3 {
	padding-left: 21px;
}

.blog-entry a {
	display: block;
	text-decoration: underline;
	width: 282px;
	font-size: 24px;
	line-height: 30px;
	color: inherit;
	padding-left: 19px;	
	padding-top: -5px;
}

.subscribe {
	position: relative;
	width: 560px;
	font-size: 16px;
	line-height: 22px; 
	color: #5a5a5a;
	background-image: url("../img/post.png");
	background-repeat: no-repeat;
	background-position: 50% 50%, 30% 30%;
}

.subscribe p,
.subscribe .form {
	margin: 0;
	padding: 0;
}

.subscribe-layer {
	width: 544px;
	height: 209px;
	border-radius: 10px;
	position: absolute;
	background-color: #ffffff;
	background-size: 250px 30px;
	top: 7px;
	left: 7px;
}

.subscribe-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: flex-start;
	padding: 20px 25px;
}

.subscribe-content .subscribe-explain {
	display: flex;
	width: 460px;
	font-size: 16px;
	line-height: 22px;
	padding-top: 7px;
}

.subscribe-form {
	display: flex;
	margin-top: 16px;
}

.subscribe-post {
	color: #231f20;
	width: 343px;
	border-radius: 10px;
	padding: 13px 14px;
	margin-right: 10px;
}

.button-holder-post {
	padding-right: 10px;
	padding-bottom: 10px; 
}

.map {
	display: flex;
	position: relative;
	width: 1200px;
	margin-left: -27px;
}

.map::before {
	content: "";
	width: 87px;
	height: 141px;
	position: absolute;
	top: 148px;
	left: 275px;

	background-image: url("../img/pin.svg");
  	background-repeat: no-repeat;
}

.feedback {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 251px;
	height: 243px;
	padding: 27px 24px;
	background-color: #ffffff;
	right: 9px;
	top: 80px;
	border-radius: 10px;

	color: #323232;
	font-size: 14px;
	line-height: 20px;
}

.feedback p {
	margin: 0;
	padding: 0;
}

.send-feedback {
	width: 479px;
	height: 442px;

	padding: 16px 17px;
	margin-left: -230px;
	top: 339px;
	left: 362px;
}

.coordinates {
	color: #323232;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.main-footer {
	display: flex;
	width: 1146px;
	justify-content: space-between;
	position: relative;
	padding: 18px 0;
}

.footer-social ul {
	display: flex;
	width: 185px;
	justify-content: space-between;
}

.social-button {
	display: flex;
	width: 38px;
	height: 38px;
}

.footer-details {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 340px;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	font-family: "Roboto", Arial, sans-serif;
	text-align: left;
}

.footer-details ul {
	height: 44px;
}

.footer-details li {
	margin: 0;
	padding: 0;
	display: inline;
	text-decoration: underline;
}

.footer-details li:nth-child(2) {
	padding-right: 67px;
}

.footer-details li:first-child::before {
	content: "";
	width: 20px;
	height: 16px;
	position: absolute;
	top: 0px;
	left: 20px;

	background-image: url("../img/heart.svg");
  	background-repeat: no-repeat;
}

.footer-copyright {
	list-style: none;
	display: flex;
	flex-direction: column;
	font-weight: 400;
	width: 210px;
}

.footer-copyright img {
	width: 110px;
	height: 41px;
	right:27px;
	top: 10px;
}

.footer-copyright-text {
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}

.modal {
	position: fixed;
	background-color: #f8f7f4;
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}


.modal-feedback h2 {
	padding: 0;
	margin-bottom: 24px;
	font-size: 24px;
	line-height: 28px;
}

.feedback-item {
	margin: 0;
	margin-bottom: 22px;
}

.feedback-form input[type="text"],
.feedback-form textarea {
	box-sizing: border-box;
  	width: 240px;
  	padding: 16px 15px;

  	font: inherit;
  	color: #999999;

  	border-style: solid;
  	border-width: 1px;
  	border-color: rgb(178, 178, 178);
  	border-radius: 5px;
  	background-color: rgb(255, 255, 255);
  	opacity: 0.52;

}

.feedback-form textarea {
	width: 427px;
}

.feedback-form input[type="text"]:hover,
.feedback-form textarea:hover {
	border-style: solid;
  	border-width: 2px;
  	border-color: rgb(154, 154, 154);
  	border-radius: 5px;
  	background-color: rgb(255, 255, 255);
  	opacity: 0.52;

}

.feedback-form input[type="text"]:focus,
.feedback-form textarea:focus {
	border-style: solid;
  	border-width: 2px;
  	border-color: rgb(46, 136, 228);
  	border-radius: 5px;
  	background-color: rgb(255, 255, 255);
  	opacity: 0.52;
}

.feedback-form input[type="text"]:checked,
.feedback-form textarea:visited {
	border-style: dashed;
  	border-width: 8px;
  	border-color: rgb(46, 136, 228);
  	border-radius: 5px;
  	background-color: rgb(255, 255, 255);
  	opacity: 0.52;
}

.modal-feedback {
	color: #231f20;
	top: 250px;
	left: 300px;
	width: 431px;

	padding: 22px 24px;
	display: none;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 14px;
	width: 19px;
 	height: 19px;

 	font-size: 0;

 	background-color: transparent;
  	border: 0;

  	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  	content: "";

  	position: absolute;
  	top: 10px;
  	left: 0px;

  	width: 19px;
  	height: 3px;

  	background-color: #231f20;
}

.modal-close::before {
  	transform: rotate(45deg);
}

.modal-close::after {
  	transform: rotate(-45deg);
}

.footer-social,
.footer-details {
	list-style: none;
}

.footer-social a,
.footer-details a {
	color: inherit;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-details a:hover,
.footer-details a:focus {
	color: #ffbc9e;
}

.inner-page {
  	background-image: url("../img/background-image.jpg");
  	background-size: 1200px auto;
  	background-position: top center;
  	background-repeat: repeat;
}

.button-basket {
	width: 117px;
	height: 32px;
	background-image: url("../img/basket-red.svg");
	background-position: 10% 30%;
	background-color: #ffffff;
	background-repeat: no-repeat;
	content: "2 товара";
	color: #000000;
	font-weight: medium;
	border-radius: 10px;
	border: none;
}

.breadcrumbs {
	display: flex;
	width: 222px;
	justify-content: space-between;
	list-style: none;
	font-weight: 400;

	font-size: 14px;
	line-height: 16px;
	padding: 0;
	margin: 0;
	margin-bottom: 8px;
}

.breadcrumbs a {
	color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: #323232;
	background-color: #ffffff;
}

.select-icecream {
	margin-bottom: 23px;
}

.select-icecream h1 {
	margin: 0;
	font-size: 35px;
	line-height: 41px;
	margin-bottom: 24px;
}

.filter-item {
	border: none;
	color: #ffffff;
}

.filter legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.sort-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 900px;
	height: 153px;
	justify-content: space-between;
	position: relative;
}

.field-sort {
	width: 131px;
	position: relative;	
}

.sort-by select {
	background-color: transparent;
	border-radius: 50px;
  	font: inherit;
  	font-weight: 400;
  	height: 38px;
  	color: #ffffff;
  	padding-right: 37px;
  	-webkit-appearance: none;
  	/* for FF */
  	-moz-appearance: none;
  	text-indent: 0.01px; 
  	text-overflow: '';
  	/* for IE */
  	-ms-appearance: none;
  	appearance: none;
}
 
.sort-by {
	width: 128px;
	padding-left: 15px;
	padding-right: 48px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
	font-size: 16px;
	line-height: 18px;
} 

.field-sort::after {
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;
	top: 30px;
	right: 11px;

	background-image: url("../img/icon-down-dir-white.png");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

.select {
	list-style: none;

}

.fieldset .filter-item {
	margin-left: 16px;
}

.range-filter {
	width: 196px;
	}

.range-controls {
	position: relative;

	height: 20px;
	padding-top: 18px;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
	padding-right: 22px;
	padding-left: 22px;
}

.range-controls .scale {
	height: 6px;
	background: rgba(255, 255, 255, 0.2);
}

.range-controls .bar {
	width: 60%;
	height: 6px;
	background-color: #ffffff;
	margin-left: 10px;
}

.range-controls .toggle {
	position: absolute;
	top: 8px;
	left: 0;
	width: 10px;
	height: 10px;
	padding: 0;
	border: 7px solid #ffffff;
  	background-color: #ababab;
  	border-radius: 50%;
  	cursor: pointer;
}

.range-controls .toggle-min {
	left: 28px;
}

.range-controls .toggle-max {
	left: 100px;
}

input[type=range]:focus {
  	outline: none;
}

.sort-by-fat {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 381px;
	height: 28px;
	padding-left: 12px;
	padding-right: 17px;
	font-size: 16px;
}

.sort-by-fat input {
	display: none;
}

.sort-by-fat li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}

.sort-by-fat span {
	padding-left: 8px;
}

.sort-by-fat input:hover + label {
	cursor: pointer;
}

.sort-by-fat label {
	font-weight: 400;

	display: flex;
	position: relative;
}

.sort-by-fat input:checked + label > img {
	background-image: url("../img/radio-on.svg");
	background-position: 50% 50%;
}

.sort-by-fat {
	height: 37px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
}

.sort-background ul {
	padding: 0;
	margin: 0;
}

.fillers {
	display: flex;
	justify-content: space-between;
	height: 38px;
	font-weight: 400;
	line-height: 18px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
}

.fill-with .checkbox {
	display: none;
}

.fill-with .checkbox + label {
	cursor: pointer;
}

.fill-with .checkbox + label span {
	display: inline-block;
	width: 27px;
	height: 27px;
  	vertical-align: middle;
	padding-right: 16px;
	margin-bottom: 5px;
  	background: url("../img/checkbox-off.svg") 0px center no-repeat;
}

.fill-with .checkbox:checked + label span {
	background-image: url("../img/checkbox-on.svg");
}

.sort:last-child {
	position: absolute;
	bottom: 0;
	right: 0;
}

.filter-button-holder {
	display: flex;
	margin-bottom: 18px;
}

.filter-button {
	width: 148px;
	height: 38px;
	border: none;
	font: inherit;
	color: #ffffff;
	border: 3px solid #ffffff;
	border-radius: 50px;
	background-color: rgba(255, 255, 255, 0.4);
}

.filter-button:hover {
	background-color: #ffffff;
	border: none;
	font: inherit;
	color: #353535;
}

.filter-button:focus {
	background-color: rgb(237, 237, 237);
  	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
  	border: none;
	font: inherit;
	color: #353535;
}

.filer ul {
	list-style: none;
}

.fillers {
	list-style: none;
}

.articles-list {
	width: 1146px;
	display: flex;
	flex-wrap: wrap;
	min-width: 860px;
	list-style: none;
	justify-content: space-between;
	margin-bottom: 82px;
}

.articles-list div {
	font-weight: 400;
	display: flex;
	flex-direction: column;
	padding: 0;
	flex-wrap: wrap;
}

.icecream-item {
	position: relative;
	width: 267px;
	position: relative;
	padding: 5px 10px;
	border-radius: 10px;
	z-index: 2;
}

.icecream-item .hidden-article {
	display: none;
	position: absolute;
	left: 70px;
	top: 280px;
}

.icecream-item:hover .hidden-article {
	display: block;
	z-index: 10;
}

.icecream-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
	background: cover;
	background-size: 300px 200px;
}

.icecream-item h3 {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-decoration: underline;
}

.icecream-item-price {
	position: absolute;
	font-size: 45px;
	line-height: 45px;	
	margin-top: -50px;
	margin-bottom: 30px;
}

.icecream-item-price span {
	font-size: 30px;
	line-height: 45px;
	}


.articles-list a {
	color: #ffffff;
}

.pagination-list {
	position: relative;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	margin-right: 27px;
	font-weight: 400;
}

.pagination-item-current a {
	color: #000000;
	background-color: #ffffff;
	background-position: 50% 50%;
	border-radius: 50px;
}

.pagination-item a {
	color: #ffffff;
	padding: 5px 10px;
}

.pagination-item a:focus,
.pagination-item a:active {
	color: #849d8f;
	background-color: #ffffff;
	background-position: 50% 50%;
	border-radius: 50px;
}

.pagination-item a:hover {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	background-position: 50% 50%;
	border-radius: 50px;
}

.modal-basket {
	width: 500px;
	position: absolute;
	right: 0;
	top: 30px;
	display: none;
}

.user-navigation li:last-child:hover .modal-basket {
	display: block;
}

.modal-basket ul {
	list-style: none;
}

.basket-catalog {
	width: 490px;
	display: flex;
	flex-direction: column;
	color: #231f20;
	width: 280px;
	border-radius: 10px;
	padding: 21px 16px;
}
